<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AnnouncementList</title>
  <style>
    body {
      background-color: #11AA99;
    }
  </style>

</head>
<body>
<form method="get" action="/data_base-app//">
  <button type="submit">Вернуться </button>
</form>
<input type="button" onclick="history.back(-4); return false;" value="Назад"/>
<p>
<div th:if="${not #lists.isEmpty(bestannouncements)}">
  <div th:each="bestannouncement : ${bestannouncements}">

    <p th:text="'объявление с ID: ' + ${bestannouncement.announcement.id}"></p>


    <hr>
  </div>
</div>
</body>
</html>