<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>form Update</title>
  <style>
        body {
            background-color: #00BB77;
        }
    </style>

</head>
<body>
<h1>Внесите данные для редактирования:</h1>
<h2>Объявление:</h2>
<form action="#" th:action="@{/__${userId}__/newAnnouncement}" th:object="${announcement}" method="post">
  <p>id: <input size="2" type="text"  th:field= "${announcementd.id}" pattern="(^[0-9]{0,7})+$" required/>
  <p>
    номер телефона: <input type="text" th:field="${announcementd.numberPhone}" pattern="(^[0-9]{0,7})+$" required/>
  </p>
    <h2>Авто:</h2>
    <p>id: <input size="2" type="text" th:field= "${announcementd.car.id}" readonly/>
  <p>
      марка: <input type="text" th:field="${announcementd.car.nameCar}" pattern="^[a-zA-Z]+$" required/>
  <p>
      модель: <input type="text" th:field="${announcementd.car.modelCar}" pattern="^[a-zA-Z]+$" required/>
  <p>
      тип двигателя: <input type="text" th:field="${announcementd.car.typeEngine}" pattern="^[a-zA-Z]+$" required/>
  <p>
      коробка передач: <input type="text" th:field="${announcementd.car.transmission}" pattern="^[a-zA-Z]+$" required/>
  <p>
      расположение: <input type="text" th:field="${announcementd.car.location}" pattern="^[a-zA-Z]+$" required/>
  <p>
      растаможка: <input type="text" th:field="${announcementd.car.custom}" pattern="^[a-zA-Z]+$" required/>
  <p>
     обмен: <input type="text" th:field="${announcementd.car.exchange}" pattern="^[a-zA-Z]+$" required/>
  <p>
      цена: <input type="text" th:field="${announcementd.car.price}" pattern="(^[0-9]{0,7})+$" required/>
  <p>
      год выпуска: <input type="text" th:field="${announcementd.car.yearOfIssue}" pattern="(^[0-9]{0,7})+$" required/>
  <p>
      пробег: <input type="text" th:field="${announcementd.car.milage}" pattern="(^[0-9]{0,7})+$" required/>
  <p>
      объем двигателя: <input type="text" th:field="${announcementd.car.volumeEngine}" pattern="(^[0-9]{0,7})+$" required/>
    </p>

  </div>
    <h2>Комментарий:</h2>
    < <p>id: <input size="2" type="text" th:field= "${announcementd.coment.id}" readonly/>
       текст: <input type="text" th:field="${announcementd.coment.message}" pattern="^[a-zA-Z]+$" required/>
      </p>
    </div>
  </div>

  <p><input type="submit" value="Обновить"/>
</form>
<form method="get" action="/data_base-app//">
  <button type="submit">Вернуться на главную страницу</button>
</form>
</body>
</html>
