<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Create Person</title>
    <style>
        body {
            background-color: #0022CCFF;
        }
    </style>
</head>
<body>
<h1>сделать закладку с объявлением</h1>
<form action="#" th:action="@{/__${userId}__/newBestAnnouncement}" th:object="${bestannouncement}" method="post">
    id объявления: <input type="text" th:field="${bestannouncementd.id}" pattern="(^[0-9]{0,7})+$" required/>

    <p><input type="submit" value="Выполнить" /> <input type="reset" value="Отменить" /></p>
</form>
<br>
<form method="get" action="/data_base-app//">
    <button type="submit">На главную страницу</button>
</form>
</body>
</html>