<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>formBestAnnouncement</title>
    <style>
    body {
      background-color: #00CC66;
    }
  </style>
</head>
<body>

<form id="formAnnouncement" method="get">
    <input name="id" type="text" th:value= "${userId}" id ="id" hidden="true"/>
</form>
<button type="submit" form="formAnnouncement" formaction="/data_base-app/findUserById" >вернуться в личный кабинет</button>
<form id="formBestAnnouncement" method="get">




    <p th:text="'закладка id: ' + ${bestannouncementd.id}"></p>
    <p th:text="'объявление id: ' + ${bestannouncementd.announcement.id}"></p>
    <p th:text="'объявление id: ' + ${bestannouncementd.announcement.numberPhone}"></p>
    <p th:text="'объявление id: ' + ${bestannouncementd.announcement.get_up}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car.nameCar}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car.modelCar}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car.price}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car. yearOfIssue}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car.milage}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car.volumeEngine}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car.typeEngine}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car. transmission}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car.location}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car.custom}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.car.exchange}"></p>
    <p th:text="'авто: ' + ${bestannouncementd.announcement.coment.message}"></p>
</form>

</body>
</html>