<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>formAnnouncement</title>
    <style>
    body {
      background-color: #00CC66;
    }
  </style>
</head>
<body>

<form id="formAnnouncement" method="get">
    <input name="login" type="text" th:value= "${announcementd.user.login}" login ="login" hidden="true"/>
</form>
<button type="submit" form="formAnnouncement" formaction="/data_base-app/findUser" >вернуться в личный кабинет</button>





</body>
</html>