<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body {
            background-color: #0022CCBB;
        }
    </style>
</head>
<body>
<p>ПОДБЕРИ АВТО ЗДЕСЬ</a></p>

<p>
<form method="get" action="/data_base-app/create">
    <button type="submit">создать учетную запись пользователя</button>
</form>
<p>
<table border="1" width="20%" cellpadding="5">
    <tr>
        <td>
            <h2>Найти пользователя:</h2>
            <form id="field" method="get">
                <label for="login">логин: </label>
                <input type="text" id="login" name="login"  pattern="^[a-zA-Z]+$"/>
                <input type="text" id="pasword" name="pasword"  pattern="(^[0-9]{0,7})+$"/>
            </form>
            <br>
            <p>
                <button type="submit" form="field" formaction="/data_base-app/findUser" >Найти </button>
            </p>
        </td>
    </tr>
</table>

<p>

<table border="1" width="60%" cellpadding="5">
    <tr>
        <td>
            <h2>Найти авто по фильтру:</h2>
            <form id="field2" method="get">
                <label for="nameCar">марка авто: </label>
                <input type="text" id="nameCar" name="nameCar"  pattern="^[a-zA-Z]+$"/>
                <p>
                <label for="modelCar">модель авто: </label>
                <input type="text" id="modelCar"  name="modelCar"  pattern="^[a-zA-Z]+$"/>
                <p>
                <label for="modelCar">тип двигателя: </label>
                <input type="text" id="typeEngine"  name="typeEngine"  pattern="^[a-zA-Z]+$"/>
                <p>
                <label for="modelCar">расположение: </label>
                <input type="text" id="location"  name="location"  pattern="^[a-zA-Z]+$"/>
                <p>
                <label for="modelCar">год выпуска: </label>
                <input type="text" id="yearOfIssue"  name="yearOfIssue"  pattern="(^[0-9]{0,7})+$"/>
            </form>
            <br>
            <p>
                <button type="submit" form="field2" formaction="/data_base-app/searchCriteria" >Найти авто</button>
            </p>
        </td>
    </tr>
</table>

</body>
</html>