<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<p>Подбери авто здесь</a></p>

<p>
<form method="get" action="/data_base-app/create">
    <button type="submit">создать учетную запись пользователя</button>
</form>
<p>
<table border="1" width="20%" cellpadding="5">
    <tr>
        <td>
            <h2>Найти пользователя:</h2>
            <form id="field" method="get">
                <label for="login">логин: </label>
                <input type="text" id="login" name="login"  pattern="^[a-zA-Z]+$"/>
            </form>
            <br>
            <p>
                <button type="submit" form="field" formaction="/data_base-app/findUser" >Найти </button>
            </p>
        </td>
    </tr>
</table>

<p>




<table border="1" width="60%" cellpadding="5">
    <tr>
        <td>
            <h2>Найти авто по фильтру:</h2>
            <form id="field2" method="get">
                <label for="nameCar">марка авто: </label>
                <input type="text" id="nameCar" name="nameCar"  pattern="^[a-zA-Z]+$"/>
                <label for="modelCar">модель авто: </label>
                <input type="text" id="modelCar"  name="modelCar"  pattern="^[a-zA-Z]+$"/>
            </form>
            <br>
            <p>
                <button type="submit" form="field2" formaction="/data_base-app/searchCriteria" >Найти авто</button>
            </p>
        </td>
    </tr>
</table>

</body>
</html>