<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AnnouncementList</title>
</head>
<body>
<form method="get" action="/web-app/">
    <button type="submit">Вернуться в кабинет пользователя</button>
</form>
<p>
<div th:if="${not #lists.isEmpty(announcementlist)}">
    <div th:each="announcement : ${announcementlist}">
        <form id="FindById" method="get">
            <input name="id" type="text" th:value= "${announcement.id}" id="id" hidden="true"/>
            <button type="submit" form="FindById" formaction="/web-app/update" >Редактировать</button>
            <p>
            <button type="submit" form="FindById" formaction="/web-app/delete" >Удалить</button>
            <p>
            <button type="submit" form="FindById" formaction="/web-app/comente" >Комментировать</button>
            <p>
        </form>
        <p th:text="'ID: ' + ${announcement.id}"></p>
        <p th:text="'статус: ' + ${announcement.get_up}"></p>
        <p th:text="'номер телефона: ' + ${announcement.numberPhone}"></p>
        <p th:text="'марка автомобиля: ' + ${announcement.car.nameCar}"></p>
        <p th:text="'модель автомобиля:' + ${announcement.car.modelCar}"></p>
        <p th:text="'цена:' + ${announcement.car.price}"></p>
        <p th:text="'год выпуска:' + ${announcement.car.yearOfIssue}"></p>
        <p th:text="'пробег:' + ${announcement.car.milage}"></p>
        <p th:text="'объем двигателя:' + ${announcement.car.volumeEngine}"></p>
        <p th:text="'тип двигателя:' + ${announcement.car.typeEngine}"></p>
        <p th:text="'коробка:' + ${announcement.car.transmission}"></p>
        <p th:text="'регион:' + ${announcement.car.location}"></p>
        <p th:text="'растаможка:' + ${announcement.car.custom}"></p>
        <p th:text="'обмен:' + ${announcement.car.exchange}"></p>
        <hr>
    </div>
</div>
</body>
</html>